services:
  nodebb:
    image: mute/forum:latest
    restart: unless-stopped
    environment:
      NODEBB_INIT_VERB: setup
      NODEBB_URL: ${NODEBB_URL}
      NODEBB_SECRET: ${NODEBB_SECRET}
      NODEBB_ADMIN_USERNAME: ${NODEBB_ADMIN_USERNAME}
      NODEBB_ADMIN_PASSWORD: ${NODEBB_ADMIN_PASSWORD}
      NODEBB_ADMIN_EMAIL: ${NODEBB_ADMIN_EMAIL}
      NODEBB_DB: mongo
      NODEBB_DB_HOST: ${NODEBB_DB_HOST}
      NODEBB_DB_PORT: ${NODEBB_DB_PORT}
      NODEBB_DB_NAME: ${MONGO_INITDB_DATABASE}
      NODEBB_DB_USER: ${MONGO_INITDB_ROOT_USERNAME}
      NODEBB_DB_PASSWORD: ${MONGO_INITDB_ROOT_PASSWORD}
    ports:
      - '4567:4567' # comment this out if you don't want to expose NodeBB to the host, or change the first number to any port you want
    volumes:
      - nodebb-build:/usr/src/app/build
      - nodebb-uploads:/usr/src/app/public/uploads
      - nodebb-config:/opt/config
      - ./install/docker/setup.json:/usr/src/app/setup.json
  mongo:
    image: 'mongo:8.2.5-noble'
    restart: unless-stopped
    ports:
      - '27017:27017'
    environment:
      MONGO_INITDB_ROOT_USERNAME: ${MONGO_INITDB_ROOT_USERNAME}
      MONGO_INITDB_ROOT_PASSWORD: ${MONGO_INITDB_ROOT_PASSWORD}
      MONGO_INITDB_DATABASE: ${MONGO_INITDB_DATABASE}
    volumes:
      - mongo-data:/data/db
      - ./install/docker/mongodb-user-init.js:/docker-entrypoint-initdb.d/mongodb-user-init.js
  redis:
    image: redis:8.6.1-alpine
    restart: unless-stopped
    command: ['redis-server', '--appendonly', 'yes', '--loglevel', 'warning']
    # command: ['redis-server', '--save', '60', '1', '--loglevel', 'warning'] # uncomment if you want to use snapshotting instead of AOF
    volumes:
      - redis-data:/data

volumes:
  mongo-data:
    driver: local
    driver_opts:
      o: bind
      type: none
      device: ./.docker/database/mongo/data

  redis-data:
    driver: local
    driver_opts:
      o: bind
      type: none
      device: ./.docker/database/redis

  nodebb-build:
    driver: local
    driver_opts:
      o: bind
      type: none
      device: ./.docker/build

  nodebb-uploads:
    driver: local
    driver_opts:
      o: bind
      type: none
      device: ./.docker/public/uploads

  nodebb-config:
    driver: local
    driver_opts:
      o: bind
      type: none
      device: ./.docker/config
